@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700&display=swap');
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";

/* Screens*/
@import "screens/login.css";

body{
    font-family: 'Noto Sans KR',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(14, 16, 26);
}
