#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 18px;
}

#friends-display-link i {
    color: rgba(0, 0, 0, 0.3);
    padding-left: 5px;
    padding-right: 5px;
}

.friends-screen{
    padding: var(--horizontal-space);
}

.friends-screen__channel{
    margin-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 15px;
}

.friends-screen__channel-header{
    margin-bottom: 20px;
    justify-content: space-between;
    display: flex;
    color: rgba(0, 0, 0, 0.4);
}