.user-component{
    justify-content: space-between;
    align-items: center;
}

.user-component,
.user-component__column:first-child{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.user-component__avatar{
    width: 70px;
    height: 70px;
    border-radius: 28px;
    margin-right: 20px;
}

.user-component__title{
    font-weight: 600;
    font-size: 18px;
}
.user-component__subtitle{
    margin-top: 7px;
    color:  #2e363e;
    opacity: .7;
    font-size: 14px;
}
.user-component__avatar--xl{
    width: 80px;
    height: 80px;
    border-radius: 32px;
}
.user-component__avatar--sm{
    width: 60px;
    height:60px;
    border-radius: 26px;
    border:1px solid rgba(0, 0, 0, 0.1);
}
.user-component__column:last-child{
    color: rgba(0, 0, 0, 0.4);
}
.user-component__title--not-bold{
    font-weight: 400;
}